<div class="container">
  <div class="logout box">

    <div class="info">
      <h1><%= t 'service_not_allowed.title' %></h1>
      <p>
        <%= t 'service_not_allowed.message', :service => @service %>
      </p>
    </div>
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
  </div>
</div>
