@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);


* {
  box-sizing: border-box;
}

body {
  background: #F6F6F5;
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

label {
  color: #4d4d4d;
  display: block;
  font-size: 100%;
  margin: 10px 0 5px 0;
}

input[type=text],
input[type=password] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  font-size: 120%;
  height: 36px;
  padding: 6px;
  width: 100%;

  &:focus {
    background: #F5F5F4;
    border-color: #b3b3b3;
    outline: none !important;
  }
}

input[type=submit] {
  background: #3299BB;
  border: 1px solid #126D91;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0 10px 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  width: auto;

  &:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }

  &:hover {
    color: white;
    background-color: #2284a1;
  }
}

.container {
  padding-top: 100px;
  width: 100%;

  .login, .sessions {

    > div {
      height: 241px;
    }

    background: #fff;
    border: 1px solid #e6e6e6;
    margin: auto;
    overflow: auto;
    padding: 20px;
    width: 560px;

    .logo {
      background: image-url("rails.png") no-repeat 15px 50%;
      float: left;
      padding: 0 15px;
      width: 45%;

      img {
        visibility: hidden;
      }
    }

    .form {
      border-left: 1px solid #eee;
      float: left;
      padding: 15px;
      width: 55%;
    }
  }

  .sessions {
    .info {
      width: 100%;
      background: image-url("rails.png") no-repeat right top;
    }
  }
}

table {
  border-collapse: collapse;

  thead {
    border-bottom: 1px dotted #aaa;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tbody {
    tr:nth-child(even) {
     background-color: #f4faff;
    }

    tr.highlighted {
      background-color: #fef4ca;
    }
  }
}

@media only screen and (max-width: 600px)  {
  body {
    font-size: 100%;
  }

  .container {
    padding-top: 20%;

    .login {
      width: 100%;

      > div {
        height: auto;
      }

      .logo {
        float: none;
        width: 100%;
        padding: 0px 15px;
        background-position: 15px 0;
      }

      .form {
        border-left: none;
        width: 100%;
        padding-bottom: 0;
      }
    }
  }
}
